input {
    margin: 0.5em;
}

form {
    margin: auto;
}

#foot {
    height: 100px;
}

.alert {
    position: relative;
    left: 55%;
}

@media (min-width: 576px) {
    .jumbotron {
        height: 11.8rem;
    }
}