body {
    color: rgb(73, 80, 87);
}

input {
    margin: 0.5em;
}

form {
    margin: auto;
}

#foot {
    height: 100px;
}

.alert {
    position: relative;
    left: 55%;
}

@media (min-width: 576px) {
    .jumbotron {
        height: 11.8rem;
    }
}

#avatar {
    width: 13%;
    border-radius: .3rem;
}

.container > h4 {
    position: relative;
    left: 87.5%;
    bottom: 2em;
    display: inline-block;
    margin-left: 2%;
}

#tb {
    position: relative;
    bottom: 2em;
}

.ind {
    margin-left: 3%;
}

.addform {
    margin-left: 37%;
    margin-top: -14%;
}

.tdiv {
    width: 42%;
    margin: auto;
}

.divbtn {
    margin-top: 3%;
}

.alerts {
    position: relative;
    left: 3%;
}

#dacc {
    position: relative;
    top: -25px;
    left: 953px;
}