<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Project Idea | Add Idea</title>
    <link rel="icon" th:href="@{/img/open.png}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="container">
    <div class="jumbotron">
        <h1 class="text-center">Add Idea</h1>
    </div>
</header>
<section class="container">
    <div>
        <img id="avatar" th:src="@{/img/avatar.png}" src="#" alt="Avatar"/>
        <h4 class="ind">[[${#httpServletRequest.remoteUser}]]</h4>
        <h4 sec:authorize="hasAuthority('USER')"><a class="btn btn-outline-success ind" th:href="@{/myideas}">My
            Ideas</a></h4>
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-outline-danger ind" type="submit" value="Sign Out"/>
        </form>
    </div>
</section>
<form class="form-col col-3 addform" th:object="${idea}" th:action="@{save}" action="#" method="post">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" th:field="*{name}" required/>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" class="form-control" rows="5" required></textarea>
    </div>
    <div>
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" class="form-control" th:field="*{difficulty}" required="required">
            <option value="" selected></option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
        </select>
    </div>
    <input type="submit" class="btn btn-primary col-4" value="Add"/>
</form>
</body>
</html>