<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Ideas</title>
</head>
<body>
<h1>Idea list</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Difficulty</th>
        <th></th>
    </tr>
    <tr th:each="idea:${ideas}">
        <td th:text="${idea.name}"></td>
        <td th:text="${idea.description}"></td>
        <td th:text="${idea.difficulty}"></td>
        <td><a th:href="@{/delete/{id}(id=${idea.id})}">Delete</a></td>
    </tr>
</table>

</body>
</html>