<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Idea | Login</title>
    <link rel="icon" th:href="@{/img/open.png}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="container">
    <div class="jumbotron">
        <!--Login form-->
        <form th:action="@{/login}" method="post">
            <div class="form-row align-items-center">
                <h1 class="col-sm-6">Project Idea</h1>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="username" placeholder="Username" required/>
                </div>
                <div class="col-sm-2">
                    <input type="password" class="form-control" name="password" placeholder="Password"
                           required/>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Sign in" class="btn btn-outline-primary"/>
                </div>
            </div>
        </form>
        <div class="row">
            <!--If the username or/and password is wrong the following error is displayed-->
            <p class="alert alert-danger col-sm-3 push-sm-8" role="alert" th:if="${param.error}">
                Invalid username or password!
            </p>

            <!--After the user logs out a warning with the following message is displayed-->
            <p class="alert alert-warning col-sm-3 push-sm-8" role="alert" th:if="${param.logout}">
                You have been logged out.
            </p>
        </div>
    </div>
</header>
<section class="container">
    <div class="text-center tdiv">
        <h3>Welcome to Project Idea</h3>
        <p>Project Idea is a website where you can find project ideas.
            Whether it be for a school project or just a project to put in a portfolio.
            You can also help others by submitting your own ideas. <strong>My Project, your Project, Project for
                all!</strong>
        </p>
    </div>
    <div class="text-center divbtn">
        <!--The following button redirects to the signup page-->
        <h3><a class="btn btn-primary" th:href="@{/signup}">Create an account</a></h3>
    </div>
</section>

</body>
</html>