<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Ideas</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="container">
    <div class="jumbotron">
        <form th:action="@{/login}" method="post">
            <div class="form-row align-items-center">
                <h1 class="col-sm-6">Project Idea</h1>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="username" placeholder="Username" required/>
                </div>
                <div class="col-sm-2">
                    <input type="password" class="form-control" name="password" placeholder="Password"
                           required/>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Sign in" class="btn btn-outline-primary"/>
                </div>
            </div>
        </form>
        <div class="row">
            <p class="alert alert-danger col-sm-3 push-sm-8" role="alert" th:if="${param.error}">
                Invalid username or password!
            </p>
            <p class="alert alert-warning col-sm-3 push-sm-8" role="alert" th:if="${param.logout}">
                You have been logged out.
            </p>
        </div>
    </div>
</header>

<h1><a th:href="@{/signup}">Create an account</a></h1>
</body>
</html>