<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Idea | Sign up</title>
    <link rel="icon" th:href="@{/img/open.png}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="container">
    <div class="jumbotron">
        <h1>Project Idea</h1>
    </div>
</header>
<section class="container">
    <!--The following is the sign up form-->
    <form class="form-col col-4" th:object="${signupform}" th:action="@{saveuser}" action="#" method="post">
        <h3>Create an account</h3>
        <div>
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" required/>

            <!--The following error will be activated if there's an error in the field above-->
            <p class="alert alert-danger alerts" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                Username
                Error</p>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" required/>

            <!--The following error will be activated if there's an error in the field above-->
            <p class="alert alert-danger alerts" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                Password
                Error</p>
        </div>
        <div>
            <label for="vpassword">Verify password</label>
            <input type="password" th:field="*{verifyPassword}" class="form-control" id="vpassword" required/>

            <!--The following error will be activated if there's an error in the field above-->
            <p class="alert alert-danger alerts" th:if="${#fields.hasErrors('verifyPassword')}"
               th:errors="*{verifyPassword}">
                Password Match Error</p>
            <small class="form-text text-muted">We'll never share your information with anyone else.
            </small>
        </div>
        <input class="btn btn-primary" type="submit" value="Sign up">
    </form>
</section>
</body>
</html>