<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<section class="container">
    <form class="form-col col-4" th:object="${signupform}" th:action="@{saveuser}" action="#" method="post">
        <h3>Create an account</h3>
        <div>
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" required/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" required/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        </div>
        <div>
            <label for="vpassword">Verify password</label>
            <input type="password" th:field="*{verifyPassword}" class="form-control" id="vpassword" required/>
            <p th:if="${#fields.hasErrors('verifyPassword')}" th:errors="*{verifyPassword}">Password Match Error</p>
            <small class="form-text text-muted">We'll never share your information with anyone else.
            </small>
        </div>
        <input class="btn btn-primary" type="submit" value="Sign up">
    </form>
</section>
</body>
</html>